.contenedorCount{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.sumaItem{
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color:#067D4B; 
    color: black;
    
    font-size: 20px;
    font-weight: 300;
}

.restaItem{
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color:#067D4B; 
    color: black;
    
    font-size: 20px;
    font-weight: 300;
}

.contador{
    
    color: black;
    font-size: 20px;
    font-weight: 300;
    padding: 30px 30px 30px 30px;
    margin: 20px;
    align-items: center;
}